body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    > .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .flex-box {
            background:green;
            display: flex;
            flex-direction: row;
            // flex-wrap: wrap;
            width: 100vw;
            height: 500px;
            justify-content: center;
            align-items: stretch;
            > div {
                background-color: aqua;
                width: 500px;
                height: 200px;
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
            }
        }
    }
}
